body {
    background-color:#333;
}

.container {
    margin-top:30px;
}

.panel {
    margin-top:20px;
    margin-bottom:20px;
    background-color:#333;
}

.stock-block {
    border: 1px solid #bbb;
    height: 160px;
    border-left-width: 5px;
    background-color: #fff;
    margin-top:20px;
    padding:15px;
}
.stock-input {
    margin-top:20px;
    margin-left:30px;
    width:25%;
}
#stock-id {
    display: inline;
}

h3 {
    margin-top:3px;
}
.material-icons {
    float:right;
}
.material-icons:hover {
    opacity:0.8;
    cursor:pointer;
}
.updated-time {
    position:absolute;
    bottom:0;
    color:#ccc;
}
.material-icons.update {
    position: absolute;
    bottom: 11px;
    right: 35px;
    color:#000;
}
.material-icons.update:hover {
    opacity: 0.8
}

#search-bar {
    background-color:#333;
    padding:0;
}

.md-raised {
    max-height: 45px;
}
.warning {
    color:rgb(196,92,87);
}
